.container-footer{
    width: 100%;
    height: 88vh;
    /* background-color:#f3785f; */
    background-image: url('https://as.com/showroom/imagenes/2018/08/06/portada/1533544506_566170_1533544750_noticia_normal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-footer .filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-footer .filter .row:nth-child(1){
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    /* background-color: burlywood; */
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(1){
    width: 25%;
    /* padding: 150px 75px; */
    /* margin-left: 40px; */
    /* background-color: chartreuse; */
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(1) ul{
    width: 100%;
    padding-left: 0px;
    list-style: none;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(1) ul li{
    width: 100%;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: 600;
    font-size: 15px;
    color: #FCCE62;
    text-transform:uppercase;
    letter-spacing: 1px;
    transition: ease-in-out .5s;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(1) ul li:nth-child(1){
    color: #7048D9;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(1) ul li:hover{
    color: #7048D9;
    cursor: pointer;
}


.container-footer .filter .row:nth-child(1) .col-30:nth-child(2){
    width: 25%;
    /* padding: 150px 75px; */
    /* background-color: brown; */
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(2) ul{
    width: 100%;
    padding-left: 0px;
    list-style: none;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(2) ul li{
    width: 100%;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: 600;
    font-size: 15px;
    color: #FCCE62;
    text-transform:uppercase;
    letter-spacing: 1px;
    transition: ease-in-out .5s;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(2) ul li:hover{
    color: #7048D9;
    cursor: pointer;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(3){
    width: 50%;
    /* margin-top: 15%; */
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form{
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 30px;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form label{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 25px;
    color: #FCCE62 ;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form input{
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 7px 10px;
    font-size: 1.2rem;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form button{
    width: 60%;
    padding: 7px 12px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #FCCE62;
    color: #7048D9;
    border: none;
    letter-spacing: 2px;
}

.container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form button:hover{
    background-color:#F2B75E;
    cursor: pointer;
}

.container-footer .filter .row:nth-child(2){
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-footer .filter .row:nth-child(2) img{
    width: 30%;
    margin: 0 auto;
    /* margin-top: -40px; */
    /* background-color: darkgoldenrod; */
}

.container-footer .filter .row:nth-child(2) span{
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #b9aeae;
    font-size: 12px;
    margin-top: 30px;
}

@media(max-width:768px){
    .container-footer{
        background-size: auto 100%;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(3){
        margin-top: 30%;
    }
}

@media(max-width:480px){
    .container-footer .filter .row:nth-child(1){
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .container-footer .filter .row:nth-child(1) .col-30:nth-child(1){
        width: 100%;
        padding-left: 0px;
       
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(1) ul{
        width: 100%;
        padding-left: 0px;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(1) ul li{
        width: 100%;
        text-align: center;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(2){
        width: 100%;
        padding-left: 0px;
       
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(2) ul{
        width: 100%;
        padding-left: 0px;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(2) ul li{
        text-align: center;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(3){
        width: 100%;
        margin-top: 0px;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form label{
       text-align: center;
    }
    
    .container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form input{
        margin: 0 auto;
    }
    
    .container-footer .filter .row:nth-child(1) .col-30:nth-child(3) form button{
        margin: 0 auto;
        margin-top: 20px;
    }

    .container-footer .filter .row:nth-child(2){
       margin-top: 40px;
    }

    .container-footer .filter .row:nth-child(2) img{
        width: 50%;
    }
}